@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");
/* Colors */
/* Spacing */
/* Borders */
body {
  font-family: "Manrope", sans-serif;
  background-color: #fafafa;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: break-word;
}

::-moz-selection {
  background-color: #fbaf85;
}

::selection {
  background-color: #fbaf85;
}

img {
  display: inline-block;
  max-width: 100%;
}

a {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
a:hover {
  color: rgba(0, 0, 0, 0.75);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 700;
  text-transform: uppercase;
}

h1,
.h1 {
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
}
@media (max-width: 500px) {
  h1,
.h1 {
    font-size: 36px;
    line-height: 40px;
  }
}

h2,
.h2 {
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.5px;
}
@media (max-width: 500px) {
  h2,
.h2 {
    font-size: 32px;
    line-height: 36px;
  }
}

h3,
.h3 {
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.15px;
}
@media (max-width: 500px) {
  h3,
.h3 {
    font-size: 24px;
    line-height: 33px;
  }
}

h4,
.h4 {
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
}

h5,
.h5 {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 1.7px;
}

h6,
.h6 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1.3px;
}

.overline {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 10px;
}

.sub-title {
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

body {
  font-size: 15px;
  line-height: 25px;
}

.bold {
  letter-spacing: 1.07px;
  font-weight: bolder;
}

.feather-12 {
  width: 12px;
  height: 12px;
}

.feather-13 {
  width: 13px;
  height: 13px;
}

.feather-14 {
  width: 14px;
  height: 14px;
}

.feather-15 {
  width: 15px;
  height: 15px;
}

.feather-16 {
  width: 16px;
  height: 16px;
}

.feather-17 {
  width: 17px;
  height: 17px;
}

.feather-18 {
  width: 18px;
  height: 18px;
}

.feather-19 {
  width: 19px;
  height: 19px;
}

.feather-20 {
  width: 20px;
  height: 20px;
}

.feather-24 {
  width: 24px;
  height: 24px;
}

.feather-30 {
  width: 30px;
  height: 30px;
}

.feather-35 {
  width: 35px;
  height: 35px;
}

.feather-40 {
  width: 40px;
  height: 40px;
}

.feather-45 {
  width: 45px;
  height: 45px;
}

.feather {
  vertical-align: middle;
  text-align: center;
}

.container {
  width: 88vw;
  margin-left: auto;
  margin-right: auto;
  max-width: 1110px;
}

.mobile-menu-overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.75);
}
@media (min-width: 992px) {
  .mobile-menu-overlay {
    display: none;
  }
}

.hidden {
  visibility: hidden;
  display: none;
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

@media (max-width: 501px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .hidden-md {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .hidden-lg {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-xl {
    display: none !important;
  }
}

.visible-xs {
  display: none !important;
}
@media (max-width: 501px) {
  .visible-xs {
    display: block !important;
  }
}

.visible-sm {
  display: none !important;
}
@media (max-width: 768px) {
  .visible-sm {
    display: block !important;
  }
}

.visible-lg {
  display: none !important;
}
@media (max-width: 768px) {
  .visible-lg {
    display: block !important;
  }
}

.orange {
  color: #d87d4a;
}

.link {
  color: black;
  text-decoration: none;
}
.link:hover {
  color: #d87d4a;
}

.btn {
  display: inline-block;
  font-size: 13px;
  border: 1px solid transparent;
  outline: none;
  padding: 0.5rem 2rem;
  text-decoration: none;
  transition: 0.2s ease;
  transition-property: background-color, color;
  white-space: nowrap;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-primary {
  font-weight: 700;
  text-transform: uppercase;
  background-color: #d87d4a;
  color: white;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: #fbaf85;
  color: white;
}

.btn-secondary {
  background-color: black;
  color: white;
}
.btn-secondary:hover, .btn-secondary:focus {
  background-color: #4c4c4c;
  color: white;
}

.btn-light {
  background-color: white;
  border: 1px solid #cfcfcf;
  border-radius: 3px;
}
.btn-light:not(.active):hover, .btn-light:not(.active):focus {
  color: #d87d4a;
}
.btn-light.active {
  background-color: #e5e5e5;
  color: #d87d4a;
}

.btn-outline {
  background-color: transparent;
  color: black;
  border: 1px solid black;
}
.btn-outline:hover, .btn-outline:focus {
  background-color: black;
  color: white;
}

@-webkit-keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.sort-control-group .sort-control-item {
  display: flex;
  align-items: center;
}
.sort-control-group .sort-control-label {
  white-space: nowrap;
  font-size: 14px;
}
.sort-control-group .sort-control-inner {
  position: relative;
}
.sort-control-group .sort-control-btn {
  display: block;
  position: relative;
  font-size: 14px;
  width: 150px;
  padding: 8px;
  line-height: 1;
  text-align: left;
  background: white;
  border: 1px solid #cfcfcf;
  border-radius: 3px;
  color: #191919;
  font-weight: 400;
}
.sort-control-group .sort-control-btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 5px;
  width: 15px;
  height: 100%;
  background-image: url(../images/shared/icons/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
}
.sort-control-group .sort-control-dropdown {
  display: none;
  list-style: none;
  position: absolute;
  background: white;
  width: 100%;
  border: 1px solid #cfcfcf;
  border-top: none;
  z-index: 1;
  box-shadow: 0 7px 10px #dbdbdb;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.sort-control-group .sort-control-dropdown a {
  color: #191919;
  font-size: 14px;
  width: 100%;
  display: block;
  padding-left: 8px;
  font-weight: 400;
}
.sort-control-group .sort-control-dropdown li:hover,
.sort-control-group .sort-control-dropdown li.active {
  background-color: #e9e9e9;
}
.sort-control-group .sort-control-item.active .sort-control-dropdown {
  display: block;
  margin-top: -2px;
}

.filter-widgets-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
  gap: 0.5rem;
}
.filter-widgets-wrapper .filter-item {
  width: 100%;
}
.filter-widgets-wrapper .filter-control-label {
  font-size: 14px;
}
.filter-widgets-wrapper .filter-item-inner {
  display: flex;
}
.filter-widgets-wrapper .filter-btn {
  position: relative;
  width: calc(100% - 28px);
  height: 100%;
}
.filter-widgets-wrapper .filter-btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 5px;
  width: 15px;
  height: 100%;
  background-image: url(../images/shared/icons/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
}
.filter-widgets-wrapper .filter-title {
  font-size: 14px;
  width: 100%;
  display: block;
  align-items: center;
  text-align: left;
  height: 100%;
  padding: 8px;
  padding-right: 20px;
  background: white;
  border: 1px solid #cfcfcf;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  line-height: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.filter-widgets-wrapper .filter-remove-btn {
  width: 28px;
  height: 100%;
  background: white;
  border: 1px solid #cfcfcf;
  border-left: none;
  outline: none;
  line-height: 1;
  padding: 5px;
  cursor: pointer;
  color: #cd2c2c;
}
.filter-widgets-wrapper .filters {
  position: absolute;
  margin-top: -2px;
  display: none;
  background: white;
  width: 100%;
  z-index: 5;
  border: 1px solid #cfcfcf;
  border-top: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0 7px 10px #dbdbdb;
}
.filter-widgets-wrapper .search-container {
  padding: 0 15px;
}
.filter-widgets-wrapper .filters-list {
  margin: 5px 0;
  max-height: 200px;
  overflow-y: auto;
}
.filter-widgets-wrapper .filters-list::-webkit-scrollbar {
  width: 8px;
}
.filter-widgets-wrapper .filters-list::-webkit-scrollbar-thumb {
  background: #cfcfcf;
}
.filter-widgets-wrapper .filter {
  display: flex;
  gap: 5px;
  align-items: center;
  line-height: 1;
  padding: 5px 8px;
}
.filter-widgets-wrapper .filter.active,
.filter-widgets-wrapper .filter:hover {
  background-color: #e9e9e9;
}
.filter-widgets-wrapper .active .filters {
  display: block;
}

.qty-selector {
  display: flex;
  width: 120px;
  height: 100%;
  background: #f1f1f1;
}
.qty-selector input {
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 13px;
  border: none;
  outline: none;
  padding: 0 0.5rem;
  background: transparent;
}
.qty-selector button {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: rgba(0, 0, 0, 0.25);
  font-size: 13px;
  text-align: center;
  cursor: pointer;
}
.qty-selector button:hover {
  color: #d87d4a;
}

.input-group label {
  display: block;
  font-weight: bold;
  font-size: 12px;
  position: relative;
}
.input-group .form-control {
  display: block;
  font-size: 14px;
  outline: none;
  border: 1px solid #cfcfcf;
  padding: 1rem;
  border-radius: 8px;
  width: 100%;
}
.input-group .form-control:focus {
  border-color: #d87d4a;
}
.input-group label.wrong span {
  color: #cd2c2c;
}
.input-group label.wrong .form-control {
  border-color: #cd2c2c;
}
.input-group label.wrong::after {
  content: attr(data-error);
  position: absolute;
  top: 0;
  right: 0;
  color: #cd2c2c;
}
.input-group .radio {
  position: relative;
  display: flex;
  align-items: center;
}
.input-group .radio span {
  padding-left: 3rem;
}
.input-group .radio input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border: 1px solid #cfcfcf;
  left: 1rem;
  border-radius: 50%;
}
.input-group .radio input[type=radio]:checked ~ .form-control {
  border-color: #d87d4a;
}
.input-group .radio input[type=radio]::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #d87d4a;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.2s ease;
}
.input-group .radio input[type=radio]:checked::before {
  transform: scale(1);
}

.input-group.search-container .form-control {
  position: relative;
  padding: 5px 10px;
  border-radius: 4px;
}

.modal-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 7rem;
  left: 0;
  width: 100%;
  z-index: 10;
}
.modal .modal-wrapper {
  position: relative;
}
.modal .modal-wrapper > * {
  position: absolute;
  width: 100%;
  max-width: 450px;
  right: 0;
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  -webkit-animation: slideIn 0.5s ease;
          animation: slideIn 0.5s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.modal .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal .modal-close {
  color: white;
  display: none;
  z-index: 1;
}
@media (min-width: 768px) {
  .modal .modal-close {
    display: block;
    position: fixed;
    right: 1rem;
    top: 2rem;
  }
}

header {
  width: 100%;
  background: #191919;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  z-index: 10;
}
header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
header img {
  vertical-align: middle;
}
header .nav-group {
  display: flex;
  gap: 13px;
}
header .nav-group a {
  color: white;
}
header .mobile-menu-toggle {
  margin-right: 25px;
  position: relative;
}
header .mobile-menu-toggle.nav-visible::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/shared/icons/icon-close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #191919;
}
header .cart-btn {
  position: relative;
}
header .badge {
  background: #d87d4a;
  position: absolute;
  top: -5px;
  right: -10px;
  height: 19px;
  width: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: white;
  border-radius: 50%;
  font-size: 12px;
}

@media (min-width: 501px) {
  .logo {
    margin-right: auto;
  }

  header {
    border: none;
  }

  .header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}
@media (min-width: 992px) {
  .mobile-menu-toggle {
    display: none;
  }
}
.navigation-links {
  visibility: hidden;
  display: none;
  justify-content: center;
  margin: 0 auto;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2.5rem;
}
.nav-links a {
  color: white;
}
.nav-links a:hover {
  color: #d87d4a;
}

.navigation-links.footer {
  margin: 0;
  visibility: visible;
  display: block;
}

.mobile-navigation .wrapper {
  position: absolute;
  visibility: hidden;
  width: 100%;
  background: white;
  padding: 1rem 0 2rem;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 10;
}
.mobile-navigation .wrapper.visible {
  visibility: visible;
  transform: translateX(0);
}

@media (min-width: 992px) {
  .navigation-links {
    visibility: visible;
    display: flex;
  }

  .mobile-navigation .wrapper {
    visibility: hidden;
  }

  .mobile-navigation .wrapper.visible {
    visibility: hidden;
  }
}
.product-categories {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.product-categories .category {
  width: 100%;
  margin-top: 50px;
  background: #f1f1f1;
  text-align: center;
  padding: 15px 0;
  border-radius: 8px;
}
.product-categories img {
  max-width: 140px;
  margin-top: -60px;
  height: 130px;
}
.product-categories .title {
  margin-top: -10px;
  padding-bottom: 5px;
  text-transform: uppercase;
  color: black;
}
.product-categories .shop-link {
  color: rgba(0, 0, 0, 0.5);
}
.product-categories .shop-link svg {
  color: #d87d4a;
}
.product-categories .link:hover .shop-link {
  color: #d87d4a;
}
@media (min-width: 500px) {
  .product-categories {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .product-categories {
    gap: 1rem;
  }
}

footer {
  margin-top: 5.5rem;
  background: #191919;
  color: rgba(255, 255, 255, 0.5);
}
footer .wrapper {
  display: grid;
  gap: 1rem;
  padding: 2rem 0;
  position: relative;
  text-align: center;
  grid-template-areas: "logo" "nav" "p" "copyright" "icons";
}
footer .wrapper::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 100px;
  background-color: #d87d4a;
  left: 50%;
  transform: translateX(-50%);
}
footer .logo {
  grid-area: logo;
}
footer nav {
  grid-area: nav;
}
footer .nav-links {
  flex-direction: column;
  gap: 1rem;
}
footer p {
  grid-area: p;
  font-weight: 500;
}
footer small {
  grid-area: copyright;
  font-weight: 700;
}
footer .social-links {
  grid-area: icons;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
footer .social-links path {
  transition: fill 0.2s ease;
  cursor: pointer;
}
footer .social-links svg:hover path {
  fill: #d87d4a;
}
@media (min-width: 501px) {
  footer .wrapper {
    text-align: left;
    padding: 3rem 0;
    gap: 1.5rem;
    grid-template-areas: "logo logo" "nav nav" "p p" "copyright icons";
  }
  footer .wrapper::before {
    left: 0;
    transform: translateX(0);
  }
  footer .nav-links {
    flex-direction: row;
    justify-content: flex-start;
  }
  footer .social-links {
    justify-content: flex-end;
  }
}
@media (min-width: 992px) {
  footer .wrapper {
    grid-template-areas: "logo nav" "p icons" "copyright icons";
  }
}

.hero {
  min-height: 600px;
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: #191919;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.hero .content {
  color: white;
  text-align: center;
}
.hero .content > * {
  margin: 1rem auto;
}
.hero .overline {
  color: rgba(255, 255, 255, 0.5);
}
.hero p {
  color: rgba(255, 255, 255, 0.75);
  max-width: 40ch;
}
.hero::after {
  content: "";
  position: absolute;
  height: 120%;
  width: 100%;
  top: -6rem;
  left: 0;
  background-image: url(../images/home/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}
@media (min-width: 460px) {
  .hero::after {
    background-image: url(../images/home/tablet/image-header.jpg);
  }
}
@media (min-width: 501px) {
  .hero h1 {
    max-width: 15ch;
  }
}
@media (min-width: 720px) {
  .hero::after {
    background-size: contain;
  }
}
@media (min-width: 992px) {
  .hero::after {
    background-image: url(../images/home/desktop/image-hero.jpg);
  }
  .hero .content {
    text-align: left;
  }
  .hero .content > * {
    margin: 1rem 0;
  }
}

.categories {
  margin-top: 5.5rem;
}

.best-products {
  margin-top: 5.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.best-products img {
  border-radius: 8px;
}

.zx9-speaker {
  background-color: #d87d4a;
  background-image: url("../images/home/desktop/pattern-circles.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% -7.8rem;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 3rem 2rem;
  text-align: center;
  overflow: hidden;
  border-radius: 8px;
}
.zx9-speaker img {
  width: 170px;
  padding-bottom: 2rem;
}
.zx9-speaker .title span {
  display: block;
}
.zx9-speaker .desc-text {
  padding: 1.5rem 0;
  color: rgba(255, 255, 255, 0.75);
  max-width: 42ch;
  margin: 0 auto;
}
@media (min-width: 700px) {
  .zx9-speaker {
    background-position: 50% -8rem;
    background-size: contain;
  }
}
@media (min-width: 768px) {
  .zx9-speaker img {
    width: 200px;
  }
}
@media (min-width: 992px) {
  .zx9-speaker {
    flex-direction: row;
    padding-top: 5rem;
    padding-bottom: 0;
    background-position: -13rem -10rem;
    background-size: cover;
  }
  .zx9-speaker img {
    width: 350px;
    padding-bottom: 0;
    margin-bottom: -17px;
    margin-left: 5rem;
  }
  .zx9-speaker .description {
    text-align: left;
    margin-left: 7rem;
    margin-top: 1rem;
  }
}
@media (min-width: 1200px) {
  .zx9-speaker {
    background-position: -16.5rem -12rem;
  }
}

.zx7-speaker {
  position: relative;
}
.zx7-speaker img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.zx7-speaker .description {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.5rem;
}
.zx7-speaker .description > * {
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .zx7-speaker .description {
    left: 4rem;
  }
}
@media (min-width: 768px) {
  .zx7-speaker .description {
    left: 5.5rem;
  }
}

.yx1-earphones {
  display: grid;
  grid-auto-rows: 1fr;
  gap: 1.5rem;
}
.yx1-earphones img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.yx1-earphones .description {
  background-color: #f1f1f1;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.yx1-earphones .wrapper {
  margin-left: 2.5rem;
}
.yx1-earphones .wrapper * {
  margin: 1rem 0;
}
@media (min-width: 501px) {
  .yx1-earphones {
    grid-template-columns: repeat(2, 1fr);
  }
  .yx1-earphones .wrapper {
    margin-left: 0;
    align-self: center;
  }
}
@media (min-width: 992px) {
  .yx1-earphones .wrapper {
    align-self: flex-start;
    margin-left: 4rem;
  }
}

.best-gear {
  margin-top: 5.5rem;
  display: grid;
}
.best-gear img {
  border-radius: 8px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.best-gear .description {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.best-gear .title {
  padding: 2rem 0;
}
.best-gear p {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
}
@media (min-width: 501px) {
  .best-gear .title {
    font-size: 40px;
    padding: 2rem;
  }
  .best-gear p {
    padding: 0 2rem;
  }
}
@media (min-width: 992px) {
  .best-gear {
    grid-template-columns: repeat(2, 1fr);
  }
  .best-gear .description {
    grid-column: 1/2;
    grid-row: 1;
    text-align: left;
    padding-right: 5rem;
  }
  .best-gear .image {
    grid-column: 2/3;
  }
  .best-gear .title {
    padding: 0;
  }
  .best-gear p {
    padding: 0;
  }
}

.filter-products {
  margin-top: 1rem;
  background: white;
  border: 1px solid #e9e9e9;
  color: #191919;
}
.filter-products .filter-widgets-wrapper {
  padding: 0.5rem;
}
.filter-products .sort-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem;
  border-top: 1px solid #e9e9e9;
}
.filter-products .select-view-label {
  white-space: nowrap;
}
.filter-products .select-view {
  display: flex;
  align-items: center;
}
.filter-products .select-view .btn {
  padding: 6px;
  height: 100%;
}
.filter-products .select-view .btn:first-of-type {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}
.filter-products .select-view .btn:last-of-type {
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}

.category-heading {
  background-color: #191919;
  color: white;
  text-align: center;
  padding: 2rem;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
}
@media (min-width: 501px) {
  .category-heading {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.5px;
    padding: 4rem;
  }
}

.products-gallery {
  margin-top: 1rem;
  margin-bottom: 5.5rem;
}
.products-gallery .product {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.products-gallery .product:not(:first-of-type) {
  margin: 2.5rem 0;
}
.products-gallery .image {
  width: 100%;
  text-align: center;
}
.products-gallery img {
  border-radius: 8px;
  transition: transform 0.3s ease;
}
.products-gallery img:hover {
  transform: scale(1.02);
}
.products-gallery .description {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}
.products-gallery .overline {
  text-transform: uppercase;
  color: #d87d4a;
}
.products-gallery .product-title {
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
}
.products-gallery p {
  color: rgba(0, 0, 0, 0.5);
}
.products-gallery .price {
  font-weight: 700;
  color: black;
  white-space: nowrap;
}
@media (min-width: 501px) {
  .products-gallery .product-title {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.5px;
  }
}
@media (min-width: 768px) {
  .products-gallery .description {
    padding: 0 3rem;
  }
}
@media (min-width: 992px) {
  .products-gallery .product {
    flex-direction: row;
    gap: 0;
  }
  .products-gallery:not(.grid) .product:nth-child(even) .image {
    order: 2;
  }
}

.products-gallery.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
  gap: 1rem;
}
.products-gallery.grid .product {
  flex-direction: column;
  margin: 0;
  gap: 0;
}
.products-gallery.grid img {
  max-height: 200px;
}
.products-gallery.grid .description {
  padding: 0;
  gap: 0;
  height: 100%;
  text-align: left;
}
.products-gallery.grid .product-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1.3px;
  font-weight: 500;
  text-align: center;
  height: 50px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.products-gallery.grid p {
  display: none;
}
.products-gallery.grid .price {
  display: block;
  padding: 0.5rem 0;
}
.products-gallery.grid .overline {
  display: none;
}

.breadcrumbs {
  padding: 1.5rem 0;
}
.breadcrumbs a {
  text-decoration: none;
}
.breadcrumbs a:hover {
  color: #d87d4a;
}

.product-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-wrapper .image {
  display: flex;
  align-items: center;
  width: 100%;
}
.product-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.product-wrapper .description {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
.product-wrapper .new-product {
  text-transform: uppercase;
  color: #d87d4a;
  font-weight: 400;
}
.product-wrapper .title {
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
}
.product-wrapper p {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
}
.product-wrapper .price {
  font-weight: bold;
  color: black;
  font-size: 18px;
}
.product-wrapper .cart-add {
  display: flex;
  gap: 1rem;
  height: 3rem;
}
@media (min-width: 501px) {
  .product-wrapper {
    flex-direction: row;
  }
  .product-wrapper .title {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.5px;
  }
  .product-wrapper .product-image {
    margin-right: 1.5rem;
  }
}
@media (min-width: 768px) {
  .product-wrapper .product-image {
    margin-right: 5rem;
  }
}

.about {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  margin-top: 5.5rem;
  gap: 5.5rem;
}
.about .features {
  width: 100%;
}
.about .features p {
  margin: 1.5rem 0;
  color: rgba(0, 0, 0, 0.5);
}
.about .package {
  width: 100%;
}
.about .package-items {
  list-style: none;
  margin-top: 1rem;
}
.about .package-item {
  color: rgba(0, 0, 0, 0.5);
  padding: 5px 0;
  position: relative;
}
.about .package-item .qty {
  color: #d87d4a;
  text-align: right;
  position: absolute;
}
.about .package-item .item {
  padding-left: 2rem;
}
@media (min-width: 501px) {
  .about h3 {
    width: 100%;
  }
  .about .package {
    display: flex;
  }
  .about .package-items {
    margin-top: 0;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .about {
    flex-direction: row;
    gap: 0;
  }
  .about .package {
    flex-direction: column;
  }
  .about .package > * {
    padding-left: 5rem;
  }
  .about .package-items {
    margin-top: 1rem;
  }
}

.image-gallery {
  margin-top: 5.5rem;
  display: grid;
  gap: 0.75rem;
}
.image-gallery img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
@media (min-width: 501px) {
  .image-gallery {
    grid-template-areas: "a a c c c" "b b c c c";
  }
  .image-gallery .image-1 {
    grid-area: a;
  }
  .image-gallery .image-2 {
    grid-area: b;
  }
  .image-gallery .image-3 {
    grid-area: c;
  }
}
@media (min-width: 768px) {
  .image-gallery {
    gap: 1rem;
  }
}

.related-products {
  margin-top: 5.5rem;
}
.related-products .section-heading {
  text-align: center;
}
.related-products .products-list {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.related-products .product {
  text-align: center;
  width: 100%;
}
.related-products .product-name {
  padding: 1rem 0;
}
.related-products img {
  max-height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
@media (min-width: 501px) {
  .related-products .products-list {
    flex-direction: row;
    gap: 0.75rem;
  }
  .related-products .btn {
    padding: 0.5rem 1rem;
  }
}
@media (min-width: 768px) {
  .related-products .products-list {
    gap: 1rem;
  }
  .related-products .btn {
    padding: 0.5rem 2rem;
  }
}

.checkout-sections {
  display: grid;
  gap: 2rem;
}
.checkout-sections > * {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 10px 20px #e2e2e2;
  padding: 1.5rem;
}
@media (min-width: 992px) {
  .checkout-sections {
    align-items: flex-start;
    grid-template-columns: repeat(3, 1fr);
  }
  .checkout-sections .checkout {
    grid-column: 1/span 2;
  }
}

.checkout .input-group {
  margin: 13px 0;
}
.checkout .sub-title {
  margin-top: 2rem;
}

@media (max-width: 500px) {
  .checkout h1 {
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 2px;
  }
}
@media (min-width: 992px) {
  .row {
    display: flex;
    gap: 1rem;
  }
  .row > * {
    width: 100%;
  }

  .w-50 {
    width: 50%;
    padding-right: 0.5rem;
  }
}
.not-found {
  padding: 4rem 0;
}
.not-found h1 {
  color: #d87d4a;
}
.not-found a {
  color: #d87d4a;
}

.modal-cart .cart-remove-all:hover {
  color: #d87d4a;
}
.modal-cart .cart-content {
  margin-top: 1.5rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.modal-cart .cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-cart .product {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.modal-cart .product img {
  width: 60px;
  border-radius: 8px;
}
.modal-cart .product p {
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}
.modal-cart .price {
  color: rgba(0, 0, 0, 0.5);
}
.modal-cart .qty-selector {
  height: 2rem;
  width: 6rem;
}
.modal-cart .total {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
}
.modal-cart .checkout-btn {
  width: 100%;
  padding: 1rem;
  text-align: center;
  line-height: 1;
}

.modal-user .modal-form > * {
  margin: 0.5rem 0;
}
.modal-user a:hover {
  color: #d87d4a;
}
.modal-user .submit-btn {
  padding: 1rem;
  width: 100%;
  line-height: 1;
}

.modal-search {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 50%;
  max-width: 768px;
  transform: translateX(-50%);
}
.modal-search button {
  border: none;
  background: white;
}
.modal-search .title {
  color: white;
  text-align: center;
  display: none;
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.modal-search .modal-search-wrapper {
  background: white;
  height: 100%;
  padding: 0.5rem 1.5rem;
  z-index: 5;
}
.modal-search .form {
  display: flex;
  align-items: center;
}
.modal-search .input-group {
  margin-left: 0.5rem;
  display: flex;
  width: 100%;
  background: #f1f1f1;
  border-radius: 1.5rem;
}
.modal-search .input-group button {
  padding: 0 1rem;
}
.modal-search .form-control {
  border: none;
  border-radius: 0;
  background: white;
  padding: 1rem 0;
  font-size: 16px;
}
.modal-search .search-results {
  margin-top: 1.5rem;
}
.modal-search .products-list {
  margin-top: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.modal-search .product {
  display: flex;
  align-items: center;
}
.modal-search .product-info {
  padding-left: 1rem;
}
.modal-search .product-image {
  max-width: 60px;
}
@media (min-width: 768px) {
  .modal-search .title {
    display: block;
    text-transform: none;
  }
  .modal-search .modal-back {
    display: none;
  }
  .modal-search .form {
    padding: 0;
  }
  .modal-search .input-group {
    margin: 0;
    background: white;
    border-radius: 0;
  }
  .modal-search .modal-search-wrapper {
    height: auto;
    border-radius: 8px;
    overflow: hidden;
  }
}