@use "../../abstracts" as *;

.hero {
  min-height: 600px;
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: $clr-black;
  position: relative;
  overflow: hidden;
  z-index: 1;
  .content {
    color: $white;
    text-align: center;
    & > * {
      margin: 1rem auto;
    }
  }
  .overline,
  h1,
  p {
    opacity: 0;
    animation: slideInLeft 0.3s;
    animation-fill-mode: forwards;
  }
  .overline {
    color: $clr-white-50;
  }
  h1 {
    animation-delay: 0.3s;
  }
  p {
    color: $clr-white-75;
    max-width: 40ch;
    animation-delay: 0.6s;
  }
  .btn {
    opacity: 0;
    animation: fadeInScale 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.9s;
  }

  &::after {
    content: "";
    position: absolute;
    height: 120%;
    width: 100%;
    top: -6rem;
    left: 0;
    background-image: url(../images/home/mobile/image-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    animation: fadeIn 1.5s ease-in;
    transform-origin: bottom;
  }
  @media (min-width: 460px) {
    &::after {
      background-image: url(../images/home/tablet/image-header.jpg);
    }
  }
  @media (min-width: $bp-md) {
    h1 {
      max-width: 15ch;
    }
  }
  @media (min-width: 720px) {
    &::after {
      background-size: contain;
    }
  }
  @media (min-width: $bp-desktop) {
    &::after {
      background-image: url(../images/home/desktop/image-hero.jpg);
    }
    .content {
      text-align: left;
      & > * {
        margin: 1rem 0;
      }
    }
  }
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
