@use "../abstracts" as *;

.modal-cart {
  width: 100%;
  max-width: 450px;
  top: 100px;
  .cart-empty {
    text-align: center;
    padding: 0.5rem;
    color: $clr-black-50;
  }
  .cart-icon {
    padding: 1rem;
    color: $black;
  }
  .cart-remove-all:hover {
    color: $clr-orange;
  }
  .cart-content {
    margin-top: 1.5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .product {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }
  .product img {
    width: 60px;
    border-radius: $default-radius;
  }
  .product-info {
    width: 100%;
    /* fix text-overflow on flex children */
    min-width: 0;
  }
  .product p {
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .price {
    color: $clr-black-50;
  }
  .qty-selector {
    height: 2rem;
    width: 8rem;
  }

  .total {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
  }
  .total p {
    color: $clr-black-50;
  }
  .checkout-btn {
    width: 100%;
    padding: 1rem;
    text-align: center;
    line-height: 1;
  }
}
