@use "../abstracts" as *;

.modal-user {
  margin-top: 100px;
  width: 100%;
  max-width: 450px;
  border-radius: $default-radius;
  background: $white;
  .modal-form > * {
    margin: 0.5rem 0;
  }
  a:hover {
    color: $clr-orange;
  }
  .submit-btn {
    padding: 1rem;
    width: 100%;
    line-height: 1;
  }
}
