@use "../../abstracts" as *;

.related-products {
  margin-top: $sections-spacing;
  .section-heading {
    text-align: center;
  }

  .products-list {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .product {
    text-align: center;
    width: 100%;
  }
  .product-name {
    padding: 1rem 0;
  }
  img {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: $default-radius;
  }

  @media (min-width: $bp-md) {
    .products-list {
      flex-direction: row;
      gap: 0.75rem;
    }
    .btn {
      padding: 0.5rem 1rem;
    }
  }
  @media (min-width: $bp-tablet) {
    .products-list {
      gap: 1rem;
    }
    .btn {
      padding: 0.5rem 2rem;
    }
  }
}
