@use "../../abstracts" as *;

.filter-products {
  margin-top: 1rem;
  background: $white;
  border: 1px solid $clr-gray-200;
  color: $clr-black;

  .filter-widgets-wrapper {
    padding: 0.5rem;
  }

  .sort-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0.5rem;
    border-top: 1px solid $clr-gray-200;
  }
  .select-view-label {
    white-space: nowrap;
    padding-right: 5px;
  }
  .select-view {
    display: flex;
    align-items: center;
    .btn {
      padding: 6px;
      height: 100%;
    }
    .btn:first-of-type {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: none;
    }
    .btn:last-of-type {
      border-top-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
