@use "../../abstracts" as *;

.filter-products {
  margin-top: 1rem;
  padding: 0.5rem;
  background: $white;
  border: 1px solid $clr-gray-200;
  .sort-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
  }
  .select-view-label {
    white-space: nowrap;
  }
  .select-view {
    display: flex;
    align-items: center;
    .btn {
      padding: 0 0.5rem;
      height: 100%;
    }
    .btn:first-of-type {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: none;
    }
    .btn:last-of-type {
      border-top-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  @media (min-width: $bp-tablet) {
    padding: 1rem;
  }
}
