@use "../abstracts" as *;

.filter-widgets-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
  gap: 0.5rem;
  .filter-item {
    width: 100%;
  }
  .filter-control-label {
    font-size: 14px;
  }
  .filter-item-inner {
    display: flex;
  }
  .filter-btn {
    position: relative;
    width: calc(100% - 28px);
    height: 100%;
  }
  .filter-btn::after {
    content: "";
    position: absolute;
    top: 0;
    right: 5px;
    width: 15px;
    height: 100%;
    background-image: url(../images/shared/icons/icon-arrow-down.svg);
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
  }
  .filter-title {
    font-size: 14px;
    width: 100%;
    display: block;
    align-items: center;
    text-align: left;
    height: 100%;
    padding: 8px;
    padding-right: 20px;
    background: $white;
    border: 1px solid $clr-gray-100;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

    line-height: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .filter-remove-btn {
    width: 28px;
    height: 100%;
    background: $white;
    border: 1px solid $clr-gray-100;
    border-left: none;
    outline: none;
    line-height: 1;
    padding: 5px;
    cursor: pointer;
    color: $clr-red;
  }
  .filters {
    position: absolute;
    margin-top: -2px;
    display: none;
    background: $white;
    width: 100%;
    z-index: 5;
    border: 1px solid $clr-gray-100;
    border-top: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 7px 10px #dbdbdb;
  }
  .search-container {
    padding: 0 15px;
  }
  .filters-list {
    margin: 5px 0;
    max-height: 200px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background: $clr-gray-100;
    }
  }
  .filter {
    display: flex;
    gap: 5px;
    align-items: center;
    line-height: 1;
    padding: 5px 8px;
  }
  .filter.active,
  .filter:hover {
    background-color: $clr-gray-200;
  }

  .active .filters {
    display: block;
  }
}
