@use "../abstracts" as *;

.sort-control-group {
  .sort-control-item {
    display: flex;
    align-items: center;
  }
  .sort-control-label {
    white-space: nowrap;
    font-size: 14px;
  }
  .sort-control-inner {
    position: relative;
  }
  .sort-control-btn {
    display: block;
    position: relative;
    font-size: 14px;
    width: 150px;
    padding: 8px;
    line-height: 1;
    text-align: left;
    background: $white;
    border: 1px solid $clr-gray-100;
    border-radius: 3px;
    color: $clr-black;
    font-weight: 400;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 5px;
      width: 15px;
      height: 100%;
      background-image: url(../images/shared/icons/icon-arrow-down.svg);
      background-repeat: no-repeat;
      background-position: center;
      pointer-events: none;
    }
  }
  .sort-control-dropdown {
    display: none;
    list-style: none;
    position: absolute;
    background: $white;
    width: 100%;
    border: 1px solid $clr-gray-100;
    border-top: none;
    z-index: 1;
    box-shadow: 0 7px 10px #dbdbdb;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: hidden;
  }
  .sort-control-dropdown a {
    color: $clr-black;
    font-size: 14px;
    width: 100%;
    display: block;
    padding-left: 8px;
    font-weight: 400;
  }
  .sort-control-dropdown li:hover,
  .sort-control-dropdown li.active {
    background-color: $clr-gray-200;
  }
  .sort-control-item.active {
    .sort-control-dropdown {
      display: block;
      margin-top: -2px;
    }
  }
}
