@use "../../abstracts" as *;

.checkout-sections {
  display: grid;
  gap: 2rem;
  & > * {
    background-color: $white;
    border-radius: $default-radius;
    box-shadow: 0 10px 20px #e2e2e2;
    padding: 2rem;
  }
  @media (min-width: $bp-desktop) {
    align-items: flex-start;
    grid-template-columns: repeat(3, 1fr);
    .checkout {
      grid-column: 1 / span 2;
    }
  }

  &.blur {
    position: relative;
    &::after {
      content: "Your cart is empty";
      position: absolute;
      text-align: center;
      padding: 2rem;
      font-size: 45px;
      width: 100%;
      height: 100%;
      background: $clr-white-75;
      backdrop-filter: blur(3px);
      border-radius: $default-radius;
    }
  }
}
