@use "../abstracts" as *;

.container {
  width: 88vw;
  margin-left: auto;
  margin-right: auto;
  max-width: 1110px;
}

.mobile-menu-overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 1;
  background: $clr-black-75;
  @media (min-width: $bp-desktop) {
    display: none;
  }
}

.hidden {
  visibility: hidden;
  display: none;
}
.invisible {
  visibility: hidden;
  opacity: 0;
}
.hidden-xs {
  @media (max-width: $bp-md) {
    display: none !important;
  }
}
.hidden-sm {
  @media (min-width: $bp-md) and (max-width: $bp-tablet) {
    display: none !important;
  }
}
.hidden-md {
  @media (min-width: $bp-tablet) and (max-width: $bp-desktop) {
    display: none !important;
  }
}
.hidden-lg {
  @media (min-width: $bp-desktop) {
    display: none !important;
  }
}
.hidden-xl {
  @media (min-width: 1200px) {
    display: none !important;
  }
}

.visible-xs {
  display: none !important;
  @media (max-width: $bp-md) {
    display: block !important;
  }
}
.visible-sm {
  display: none !important;
  @media (max-width: $bp-tablet) {
    display: block !important;
  }
}
.visible-lg {
  display: none !important;
  @media (max-width: $bp-tablet) {
    display: block !important;
  }
}

.orange {
  color: $clr-orange;
}

.link {
  color: $black;
  text-decoration: none;
  &:hover {
    color: $clr-orange;
  }
}
