$dimensions: 12, 13, 14, 15, 16, 17, 18, 19, 20, 24, 30, 35, 40, 45, 100;

@each $i in $dimensions {
  .feather-#{nth($i, 1)} {
    width: #{nth($i, 1)}px;
    height: #{nth($i, 1)}px;
  }
}

.feather {
  vertical-align: middle;
  text-align: center;
}
