@use "../abstracts" as *;

header {
  width: 100%;
  background: $clr-black;
  border-bottom: 1px solid $clr-white-10;
  position: relative;
  z-index: 10;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
  }
  img {
    vertical-align: middle;
  }
  .nav-group {
    display: flex;
    gap: 13px;
    a {
      color: white;
    }
  }
  .mobile-menu-toggle {
    margin-right: 25px;
    position: relative;
  }
  .mobile-menu-toggle.nav-visible::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/shared/icons/icon-close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: $clr-black;
  }
  .cart-btn {
    position: relative;
  }
  .badge {
    background: $clr-orange;
    position: absolute;
    top: -5px;
    right: -10px;
    height: 19px;
    width: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: $white;
    border-radius: 50%;
    font-size: 12px;
  }
}

@media (min-width: $bp-md) {
  .logo {
    margin-right: auto;
  }
  header {
    border: none;
  }
  .header {
    border-bottom: 1px solid $clr-white-10;
  }
}

@media (min-width: $bp-desktop) {
  .mobile-menu-toggle {
    display: none;
  }
}
